{% extends "index.html" %}

{% block content %}
<h1>Пользовательские миры</h1>
{% if current_user.is_authenticated %}
    <a href="/new_world" class="btn btn-secondary">Опубликовать мир</a>
{% endif %}
{% for item in worlds%}
    <div class="col-md6 border rounded">
        <h3>{{item.title}}</h4>
        <h4>{{item.description}}</h4>
        <a href="/user/{{ item.owner.id }}"" class="btn btn-link">Автор: {{item.owner.name}}</a>{% if item.owner.mod %} <span class="badge badge-success">Модератор</span> {% endif %}
        <div>
        <a href="/download_world/{{ item.id }}" class="btn btn-secondary">
                    Скачать
        </a>
        {% if current_user.is_authenticated and (current_user == item.owner or current_user.mod) %}
                <a href="/edit_world/{{ item.id }}" class="btn btn-warning">
                    Изменить
                </a>
                <a href="/delete_world/{{ item.id }}" class="btn btn-danger">
                    Удалить
                </a>
            </div>
        {% endif %}
    </div>
{% endfor %}
{% endblock %}